# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.abi
__pycache__
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.wasm
build/

# NPM
node_modules/


wallet_password.txt
local_settings.js
zappa_settings.json
